@-webkit-keyframes clockwise {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes clockwise {
	100% {
		transform: rotate(1turn);
	}
}

@-webkit-keyframes counter-clockwise {
	100% {
		transform: rotate(-1turn);
	}
}

@keyframes counter-clockwise {
	100% {
		transform: rotate(-1turn);
	}
}
